.body-Juego{
    background-image: url(../img/fondoJuego.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.card-body{
    background-color: #7415cd;
}

#p{
    background-color: rgba(116, 10, 205, 0.5);
}
